<footer>
    <div class="footer-container">
        <div class="footer-social">
            <a href="" id="facebook">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a href="" id="instagram">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a href="" id="mail">
                <ion-icon name="mail-outline"></ion-icon>
            </a>
            <a href="" id="whatsapp">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </a>
        </div>
        <div class="footer-copyright">
            Copyright Fénix Ind - 2023. Todos los derechos reservados.
        </div>
</footer>