<header class="header">
    <nav class="nav-mobile">
        <div class="mobile-menu-bar">
            <div class="container-drop">

                <button class="btn-menu">
                    <div class="mobile-menu-toggle">

                        <i class="fa-solid fa-bars"></i>
                        <span>Menú</span>
                    </div>
                </button>
                <div class="contenido-desplegable">

                    <a href="/">Inicio</a>
                    <a href="/products">Productos</a>
                    <a href="/users/login">Mi Cuenta</a>
                    <a href="/users/register">Registro</a>
                    <a href="/products/outfits">Outfits</a>
                    <a href="/products/hoodies">Hoodies</a>
                    
                </div>
            </div>
            <a href="/">
            <img class="mobile-logo-wrapper" src="/img/RENACER_LOG__2.png" alt="">
            </a>
            <div class="mobile-icons-box">
                <a href="">
                    <span class="mobile-search-toggle">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </a>
                <a href="">
                    <span class="mobile-search-toggle"></span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <nav class="nav-pc">
        <div class="rectangle-1">
            <ul class="vertical">
                <li><a href="/products/hoodies">Hoodies</a></li>
                <li><a href="/products/outfits">Outfits</a></li>
                <li class=""><a href="/products/sneakers">Sneakers</a></li>
            </ul>
            <div class="menu-vertical-container">
                <button class="btn-menu-pc">
                    <div class="menu-vertical">
                        <span>Menu</span>
                        <ion-icon class="burger-menu" name="menu-outline"></ion-icon>
                    </div>
                </button>
                <div class="scroll-container">
                    <ul>
                        <li><a class="li-text-pc" href="/">Inicio</a></li>
                        <li><a class="li-text-pc" href="/products">Productos</a></li>
                        <li><a class="li-text-pc" href="/users/login">Mi Cuenta</a></li>
                        <li><a class="li-text-pc" href="/products/outfits">Outfits</a></li>
                        <li><a class="li-text-pc" href="/users/register">Registro</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pc-search-car-style">
            <input type="text" class="search-input" name="search-input-pc" id="search-input-pc" placeholder="Buscar...">
            <button class="btn-search-pc">

                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </button>
            <a href="">
                <span class=""></span>
                <i class="fa-solid fa-cart-shopping"></i>
                </span>
            </a>
            <a href="/users/login">
                <span class=""></span>
                <i class="fa-regular fa-user"></i>
                </span>
            </a>
        </div>
    </nav>
    
    <div class="logo-pc">
        <a href="/">
            <img src="/img/RENACER_LOG__8.png" alt="">
        </a>
    </div>

</header>