<header class="header">
    <nav class="nav-mobile">
        <div class="mobile-menu-bar">
            <div class="container-drop">

                <button class="btn-menu">
                    <div class="mobile-menu-toggle">

                        <i class="fa-solid fa-bars"></i>
                        <span>Menú</span>
                    </div>
                </button>
                <div class="contenido-desplegable">

                    <a href="/">Inicio</a>
                    <a href="#">Productos</a>
                    <a href="/login">Mi Cuenta</a>
                    <a href="/register">Registro</a>
                    <a href="#">Segui tu pedido</a>
                    <a href="#">Informa tu pago</a>
                </div>
            </div>
            <!-- <div class="mobile-logo-wrapper"><a href="#"> -->
            <img class="mobile-logo-wrapper" src="/img/RENACER_LOG__2.png" alt="">
            <!-- </div> -->
            </a>
            <div class="mobile-icons-box">
                <a href="">
                    <span class="mobile-search-toggle"><i class="fa-solid fa-magnifying-glass"></i></span>
                </a>
                <a href="">
                    <span class="mobile-search-toggle"></span>
                    <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <nav class="nav-pc">
        <div class="rectangle-1">
            <ul class="vertical">
                <li><a href="#">segui tu pedido</a></li>
                <li><a href="#">Informa tu pago</a></li>
                <li class=""><a href="/login">Mi cuenta</a></li>
            </ul>
            <div class="menu-vertical-container">
                <button class="btn-menu-pc">
                    <div class="menu-vertical">
                        <span>Menu</span>
                        <ion-icon class="burger-menu" name="menu-outline"></ion-icon>
                    </div>
                </button>
                <div class="scroll-container">
                    <ul>
                        <li><a class="li-text-pc" href="/">Inicio</a></li>
                        <li><a class="li-text-pc" href="/products">Productos</a></li>
                        <li><a class="li-text-pc" href="/login">Mi Cuenta</a></li>
                        <li><a class="li-text-pc" href="/register">Registro</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="logo-pc"><img src="/img/RENACER_LOG__8.png" alt=""></div>
</header>