<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/74839f3c8a.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
</head>

<body>
    <header class="header">
        <nav class="nav-mobile">
            <div class="mobile-menu-bar">
                <div class="mobile-menu-toggle">
                    <i class="fa-solid fa-bars"></i>
                    <span>Menú</span>
                </div>
                <!-- <div class="mobile-logo-wrapper"><a href="#"> -->
                <img class="mobile-logo-wrapper" src="/img/RENACER_LOG__2.png" alt="">
                <!-- </div> -->
                </a>
                <div class="mobile-icons-box">
                    <a href="">
                        <span class="mobile-search-toggle"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </a>
                    <a href="">
                        <span class="mobile-search-toggle"></span>
                        <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
        <nav class="nav-pc">
            <div class="rectangle-1">
                <ul class="vertical">
                    <li><a href="#">segui tu pedido</a></li>
                    <li><a href="#">Informa tu pago</a></li>
                    
                    <li class=""><a href="#">Mi cuenta</a></li>
                </ul>
                <div class="menu-vertical-container">

                    <li class="menu-vertical">
                        <span>Menu</span>
                        <ion-icon class="burger-menu" name="menu-outline"></ion-icon>
                    </li>
                </div>
            </div>
        </nav>
       
    
        
    </header>
    <div class="logo-pc"><img src="/img/RENACER_LOG__2.png" alt="" ></div>
    <main class="container-main">
        <div class="principal-main">

            <h2 id="title-login">Iniciar sesión</h2>

            <form action="/" method="get" class="form-login">
                <p class="login-username">
                    <input type="text" name="username" id="username" autocomplete="username" value
                        placeholder="Usuario o Correo electronico *" required />

                </p>
                <p class="login-contrasena">
                    <input type="password" name="password" id="password" value placeholder="Contraseña *" required />

                </p>
                <div class="container-remember">
                    <div id="remember-checkbox">
                        <input type="checkbox" id="record" name="recordarme" />
                        <label for="record">recordarme</label>
                    </div>
                    <div id="remember-login">
                        <a href="#">¿olvidó su contraseña o usario?</a>
                    </div>
                </div>
                <div class="button-sesion">
                    <input type="submit" value="Iniciar sesión" />
                </div>
            </form>
            <div><a href="#">
                    <button class="button-register">Registro</button></a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">


            <div class="footer-social">
                <a href="" id="facebook">


                    <ion-icon name="logo-facebook"></ion-icon>

                </a>
            
                <a href="" id="instagram">
                    <ion-icon name="logo-instagram"></ion-icon>

                </a>
           
                <a href="" id="mail">
                    <ion-icon name="mail-outline"></ion-icon>

                </a>
           
                <a href="" id="whatsapp">
                    <ion-icon name="logo-whatsapp"></ion-icon>

                </a>
            </div>
       
            <div class="footer-copyright">
                Copyright Fénix Ind - 2023. Todos los derechos reservados.
                
            </div>
    </footer>
</body>

</html>