* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    padding-top: 50px;
    padding-bottom: 60px;
}

#titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

#container-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 22px;
    padding-top: 30px;
}

#nombre {
    padding: 5px 10px;
}

#precio {
    padding: 5px 10px;
}

#talles {
    padding: 5px 25px;
}

#color {
    padding: 5px 25px;
}

.container-publicar-producto {
    justify-content: center;
    display: flex;
    padding-bottom: 60px;
}

#button-publicar {
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 200px;
    height: 35px;
    background-color: #67361C;
    padding: 0;
    margin: 0;
    border: 0;
}

@media (min-width: 1200px) {
    #button-publicar {
        font-size: medium;
        width: 600px;
        height: 50px;
    }
}



