.main-car {
    display: block;
    margin-top: 80px;
}

.container-info {
    max-width: 1130px;
    margin: 10px auto;
    width: 100%;
    padding: 0 15px;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    border-bottom: #6c3d23 double;
    border-top: #6c3d23 double;
}

.container-four {
    width: 90%;
    text-align: center;
    
    box-shadow: inset #a7754c6b 0px 1px 8px 2px;
    
    margin: 10px auto;
    height: min-content;
}
.container-four img {
    width: 70%;
    margin-top: auto;
}

.shop-table {
    width: 100%;
    position: relative;
    max-width: 100%;
}

.text-detail{
    display: flex;
    justify-content: space-between;
   
}
.info-car {
    font-weight: 600;
    color: #6c3d23;
}

.info-car-detail{
    display: inline-block;
    color: #a07751;
    text-align: right;
    padding-left: 10px;
}


@media (min-width: 480px) {

    
    .container-four {
       margin: auto;
       width: 200px;
    }
}
@media (min-width: 1200px) {
    .container-four {
        margin: auto;
        width: max(50%, 50%);
    }
    .main-car{
        width: 80%;
        margin: auto;
        margin-bottom: 100px;
    }
}