/*MAIN*/
.main{
    /* position: relative; */
    width: 90%;
    top: 60px;
    margin: 10px auto;
}


.div-img-producto{
    display: flex;
    border: groove #A97356 13px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    background: white;
}

.imagen-producto {
    width: 100%;
    height: -webkit-fill-available
}

.palabra-talles {
    display: inline;
}

.guia-talles {
    font-size: small;
}

.talles {
    margin-top: 10px;
}

.seccion-colores {
    padding-top: 20px;
}

.palabra-color {
    display: inline;
}

.palabra-unidades {
    margin: 0px;
}

.unidades {
    margin-top: 20px;
}
.precio{
    font-size: 1.55rem;
    font-weight: 500;
    color: #6c3d23;
}
.seccion-talles, .seccion-colores{
    font-size: 1.45rem;
    color: #A97356;
    
}
.seccion-talles h4, .seccion-colores h4{
    font-size: 1.45rem;
    color: #834F34 
}
#price{
    font-weight: 200;
}
.select-colores{
display: inline;
}
.seccion-colores select{
    padding: 5px;
    width: fit-content;
    font-size: 1.27rem;
    border-block-color: rgb(108,61,35);
    border-radius: 10px;
    text-align: center;
}

.nombre-producto{
    color: #834F34;
}

.informacion-compra {
   margin: auto;
   width: min(100%);
   text-align: -webkit-center;
}
.compra-carrito{
    display: flex;
    flex-direction: column;
   
    
}

.boton-compra, .boton-carrito {
    background-color: #67361C;
    width: min(90% , 350px);
    text-align: center;
    margin-top: 20px;
    color: #CEC2B7;
    padding: 10px;
    font-size: 18px;
} 

/* .boton-carrito {
    padding: 10px 50px;
    margin-bottom: 15px;
    color: #e2cbbf;
    background-color: #67361C;
} */

.descripcion {
    text-align: justify;
    margin-bottom: 90px;
    margin-left: 10px;
    color: #67361C;
}
.palabra-descripcion {
   font-size: 25px;
    margin-left: 20px;
    font-weight: 900;
}

.descripcion p {
    width: 90%;
    margin:  auto;
    font-weight:300 ;
}

/*FOOTER*/


.logo-pc{
    display: none;

}

@media (min-width: 480px) {

    .div-img-producto {
        width: 310px;
        /* margin: 0 0 20px 20px; */
        margin-top: 90px;
        /* position: relative; */
        right: -58px;
        height: 430px;
        margin: 90px auto 0;
    }

}

@media (min-width: 768px) {

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        position: relative;
        margin: auto;
    }
.informacion-compra{
    
    position: relative;
    top: -70px;
    left: 30px;
    text-align: inherit;
}
.div-img-producto {
    width: 530px;
    
    height: 630px;
   
}

    .container_detail{
        display: grid;
    grid-auto-flow: column;
    }
    .imagen-producto {
        width: 100%;
    }

    

    .nombre-producto {
        margin-top: 15px;
    }

    .descripcion {
        padding-bottom: 30px;
        
    }

}

@media (min-width: 1200px) {

    
.main{
    top: -30px;
}
/* .container_detail {
    width: max(600px);
} */

    .descripcion {
        font-size: 115%;
        padding-top: 30px;
    }

    .nombre-producto {
        width: 290px;
        padding-bottom: 40px;
        margin-top: 50px;
        text-transform: uppercase;
    }
.informacion-compra{
    width: max(60%);
}
.container_detail{
    top: 30px;
    position: relative;
    border: ridge #CB9A81;
    padding: 0 130px 100px 100px;
}


}
