/*MAIN*/
.main{
    position: relative;
    width: 80%;
    top: 60px;
    margin: 10px auto;
}
.div-img-producto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagen-producto {
    width: 70%;

    margin-top: 80px;
}

.palabra-talles {
    display: inline;
}

.guia-talles {
    font-size: small;
}

.talles {
    margin-top: 10px;
}

.seccion-colores {
    padding-top: 20px;
}

.palabra-color {
    display: inline;
}

.palabra-unidades {
    margin: 0px;
}

.unidades {
    margin-top: 20px;
}
.informacion-compra {
   margin: auto;
   width: min(70%);
}
.compra-carrito{
    display: flex;
    flex-direction: column;
   
    
}

.boton-compra, .boton-carrito {
    background-color: #67361C;
    width: min(90% , 350px);
    text-align: center;
    margin-top: 20px;
    color: #CEC2B7;
    padding: 10px;
    font-size: 18px;
} 

/* .boton-carrito {
    padding: 10px 50px;
    margin-bottom: 15px;
    color: #e2cbbf;
    background-color: #67361C;
} */

.descripcion {
    text-align: justify;
    margin-bottom: 90px;
    margin-left: 10px;
    color: #67361C;
}
.palabra-descripcion {
   font-size: 25px;
    margin-left: 20px;
    font-weight: 900;
}

.descripcion p {
    width: 90%;
    margin:  auto;
    font-weight:300 ;
}

/*FOOTER*/


.logo-pc{
    display: none;

}

@media (min-width: 480px) {

   

}

@media (min-width: 768px) {

    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly; 
        position: relative;
        margin: auto;
    }
.informacion-compra{
    width: min(50%);
}
    .div-img-producto {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .imagen-producto {
        width: 100%;
    }

    

    .nombre-producto {
        margin-top: 15px;
    }

    .descripcion {
        padding-bottom: 30px;
        
    }

}

@media (min-width: 1200px) {

    .imagen-producto {
        width: 500px;
        height: 500px;
        position: relative;
        top: -25px;
    }
.main{
    top: -90px;
}
    

    .descripcion {
        font-size: 115%;
        padding-top: 30px;
    }
.informacion-compra{
    width: max(30%);
}
}
