* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #67361C;
}

body {
    background-color: #CEC2B7;
    font-family: roboto, 'Times New Roman', Times, serif;
    position: relative;
    z-index: -3;
}

.header {
    position: relative;
    padding: 0 15px;
    width: 100%;
}

.nav-mobile {
    display: block;
}

.mobile-menu-bar {
    width: 100%;
    background-color: transparent;
    height: 60px;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.container-drop {
    position: relative;
}

.btn-menu {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.mobile-menu-bar .btn-menu {
    background-color: transparent;

    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: 0.3s;

}

.mobile-menu-bar .contenido-desplegable {
    position: absolute;
    background-color: transparent;
    min-width: max-content;
    z-index: 188;
    opacity: 0;
    border-radius: 8px;
    left: -20px;
    top: 45px;
    transition: 0.3s;

}

.mobile-menu-bar .contenido-desplegable a {
    display: block;
    color: #CEC2B7;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 8px;
    border: #67361C solid 1px;
    background-color: #67361C;
    margin-bottom: 3px;
    transition: 0.3s;
}

.mobile-menu-bar .contenido-desplegable a:hover {
    background: #e2cbbf;
    color: #67361C;
}

.mobile-menu-bar:hover .btn-menu {
    background: #CEC2B7;
}

.btn-menu:focus~.contenido-desplegable {
    opacity: 1;
    z-index: 1;
    display: block;
}

img.mobile-logo-wrapper {

    max-width: 100%;
    height: 170px;
    margin-top: 50px;
}

.mobile-icons-box {
    font-size: 1rem;
    width: 50px;
    text-align: right;
}

.mobile-search-toggle {
    vertical-align: middle;
    color: #67361C;
}

.nav-pc {
    display: none;
}


.mobile-menu-toggle {
    color: #67361C;
    font-size: 15px;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.container-2 {
    padding-bottom: 87px;
}

.subcontainer {
    max-width: 1110px;
    margin: 0 auto;
}

#customer-login {
    max-width: 408px;
    margin: 0 auto;
}

#custome-login .u-column1.active {
    opacity: 1;
    visibility: visible;

}

/* MAIN */
.container-main {
    max-width: 80%;
    margin: auto;
    position: relative;
    z-index: -2;
}

.principal-main {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.principal-form {
    display: flex;
    flex-direction: column;
}

.login-username .login-contrasena {
    text-align: center;
}

#title-login {
    color: #67361C;
    font-size: 30px;
    font-weight: 400;
}


.form-login {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.login-username,
.login-contrasena {
    text-align: center;
    position: relative;
    margin-bottom: 10px;

}

.login-username input,
.login-contrasena input {
    border: solid 1.5px #67361C;
    border-radius: 1rem;
    background: none;
    font-size: 1rem;
    color: #67361C;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 90%;
    padding: 10px;
}

.login-username label,
.login-contrasena label {
    opacity: 0.5;
    position: absolute;
    left: 17px;
    color: #67361C;
    pointer-events: none;
    font-size: 14px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 12px;
}

.login-username input:focus,
.login-contrasena input:focus {
    outline: none;
    border: 1.5px solid #67361C;

}

.login-username input:focus~label,
.login-username input:valid~label,
.login-contrasena input:focus~label,
.login-contrasena input:valid~label {

    transform: translatex(2%) translateY(-100%) scale(0.8);
    background-color: #CEC2B7;
    padding: 0 0.2em;
    opacity: 1;
}



.button-sesion {
    background-color: #67361C;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.button-sesion input {
    background-color: transparent;
    width: 100%;
    margin: 0;
    border: none;
    text-align: center;
    color: #e4dada;
    line-height: 64px;
    font-weight: bold;
    font-size: 16px;

}

#remember-checkbox {
    color: #67361C;
    font-size: 14px;
    display: inline;
    margin: 0 5px 0 0;
}

#record {
    margin: 0;
}

.container-remember {
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    flex-wrap: wrap;
}

.button-register {
    display: block;
    margin: 10px auto;
    line-height: 64px;
    font-size: 16px;
    background: transparent;
    border: none;
    color: #67361C;
    font-weight: bold;
    border-bottom: 2px #67361C solid;
    padding: 0;
    height: 45px;
}



/* FOOTER */
.footer-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer-copyright {
    font-size: 13px;
    width: 100%;
    margin-top: 15px;

}

.footer-social {
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    transition: all 0.3s;
}

#facebook:hover,
#instagram:hover,
#mail:hover,
#whatsapp:hover {
    color: #db721b;
}

.footer-copyright,
.footer-social {
    color: #67361C;
    width: 100%;
    text-align: center;
}

.logo-pc {
    display: none;

}

@media (min-width: 480px) {
    .form-login {
        min-width: 350px;
    }

    .login-username label,
    .login-contrasena label {

        left: 25px;

    }
}

@media (min-width:1200px) {
    .principal-main {
        margin: 0 auto;
        position: relative;
        /* top: -80px; */
        z-index: -1;
    }

    .nav-mobile {
        display: none;
    }

    .nav-pc {
        display: block;

    }

    .rectangle-1 {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        width: 100vh;
        padding: 8px 40px 0;
        height: 96px;
        left: 0;
        transform-origin: top left;
        transform: translateY(100%) rotate(-90deg);
        justify-content: space-between;
    }

    li {
        list-style: none;
    }

    .vertical {
        display: initial;
        font-size: 16px;
        margin: 0;
        max-width: 80%;
    }

    .vertical li {
        display: inline-block;
        padding-right: 20px;
    }

    .burger-menu {
        font-size: 25px;
        color: #67361C;
        transform: rotate(-90deg);

    }

    .menu-vertical-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .menu-vertical {
        display: flex;
        align-items: center;

        transition: all 0.3ms;
    }

    .menu-vertical:hover {

        border: #b97c42 2px solid;

    }

    .menu-vertical span {
        font-size: 16px;
        color: #67361C;

    }

    .logo-pc {
        display: flex;
        margin: 0 auto;
        width: 30%;
        /*  height: 350px; */

    }

    .logo-pc img {

        margin: 0 auto;
        width: 40%;
        position: relative;
        /* top: -50px; */
        height: 40%;
    }

    .login-username label,
    .login-contrasena label {

        left: 30px;

    }

    /* SCROLL */
    .btn-menu-pc {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .scroll-container {
        opacity: 0;
        display: inline-block;

    }

    .scroll-container ul {
        padding: 0;
    }

    .scroll-container li {
        margin: 30px auto;
        font-size: 20px;
        color: #CEC2B7;
        list-style: none;
        width: max-content;

    }

    .li-text-pc {
        color: #CEC2B7;
        position: relative;

    }

    .li-text-pc:hover {
        background-color: #CEC2B7;
        color: #67361C;
        border-radius: 5px;
    }

    .btn-menu-pc:focus~.scroll-container {
        display: inline-block;
        opacity: 1;
        transform: rotate(90deg) translate(130%);
        transition: all 2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .scroll-container {
        position: absolute;
        transform: rotate(90deg);
        border: #917357 solid 5px;
        top: -180px;
        right: 120px;
        padding: 15px;
        background-color: #67361C;
        color: #816244;
        transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 20;
    }

    .scroll-container:hover {
        border: #b97c42 solid 5px;

    }

    .form-login {
        min-width: 350px;
    }

    .pc-search-car-style {
        position: relative;
    top: 30px;
    text-align: center;
    display: grid;
    grid-template-columns: 26% 0% 5%;
    justify-items: center;
    justify-content: end;
    }

    
    .search-input {
        opacity: 1;
        width: 300px;
        transition: all 0.5s ease-out ;
    }
    .btn-search-pc {
        background: transparent;
        border: none;
        display: grid;
        justify-content: space-around;
        justify-items: stretch;
        grid-template-columns: 100% 13%;
        cursor: pointer;
        color: #67361C;
        
    }

    .search-input:focus {
       
        background-color: #ebc8a6;
        
    }

    
}