* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container-titulo {
    display: flex;
    justify-content: center;
}

.titulo {
    width: 300px;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-top: 80px;
    padding-bottom: 40px;
    font-size: small;
}

.botones {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
/*
button {
    font-size: medium;
    color: rgb(255, 255, 255);
    width: 600px;
    height: 50px;
    background-color: #67361C;
    padding: 0;
    margin: 0;
    border: 0;
}*/