.main-user-acuont {
    color: #fff;
    /* border: solid; */
    margin: 60px auto;
    width: 90%;
}

.img-acount {
    display: block;
    width: min(40% , 70%);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
}

.container-user-acount {
    width: min(70% , 60%);
    display: block;
    margin: auto;
}

.info-user {
    /* display: grid; */
    grid-auto-flow: column;
    margin: 15px auto;
    display: block;
}

.label-container {
    
    display: grid;
    font-size: 1rem;
   
}

.label-user-acount {
    /* margin: auto 10px; */
    color: #67361C;
    font-weight: 900;
    text-transform: uppercase;
}

.label-info-acount {
    border-bottom: #7e6456bb solid 1px;
    color: #9a622f;
}
#password-user{
    -webkit-text-security: disc;
}

.main_contatiner_usersList{
    width: 80%;
    margin: 60px auto;
    position: relative;
    z-index: -1;
}
.main_contatiner_usersList img{
    width: 60%;
    height: 116px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.container_usersList{
    border: outset 6px #a6784f;
    margin-bottom: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom right, #67361c, #cec2b7);
    width: auto;
}
.container_img{
    background: #67361c;
    padding: 20px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom: double #a6784f;
}
.container_dates{
    padding-left: 10px;
    color: #fafafa;
    text-shadow: 1px 1px 2px #000000;
}
#email, #name, #type{
    font-size: 1rem;
}


@media (min-width:480px) {



    .container-user-acount {
       width: 60%;
    }

    .img-acount {
       
        max-width: 20%;
    }

    .info-user {
        max-width: inherit;
    }
.container_usersList{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.container_dates{
    margin-top: 30px;
   
}

#email, #name, #type {
    font-size: 0.7rem;
    /* margin: 26px 0px; */
}

}
@media (min-width:780px) {



  

    .img-acount {
       
        max-width: 30%;
    }

   



#email, #name, #type {
    font-size: 1rem;
    /* margin: 26px 0px; */
}

.container_usersList {
   
    width: max(660px);
    margin: 10px auto;
}
}