<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>


<body>
    <%- include('../partials/header') %>
<div class="banner-main">

    <div class="container-banner">
    </div>
</div>
    <main class="main">
   
    <!-- CATEGORIAS -->
    <div class="container-categorias">
        <h2>CATEGORIAS</h2>

        <div class="section-categorias">
            <div class="categorias">
                <a href=""> <img class="img-categoria" src="/img/11.png" alt=""></a>
                <p class="text">REMERAS</p>
            </div>

            <div class="categorias">
                <a href=""> <img class="img-categoria" src="/img/22.png" alt=""></a>
                <p class="text">HOODIES</p>
            </div>

            <div class="categorias">
                <a href=""> <img class="img-categoria" src="/img/33.png" alt=""></a>
                <p class="text">PANTALONES</p>
            </div>

            <div class="categorias">
                <a href=""> <img class="img-categoria" src="/img/44.png" alt=""></a>
                <p class="text">BUZOS</p>
            </div>
        </div>

    </div>

    <!-- OUTFITS -->
    <div class="container-outfits">
        <h2>OUTFITS</h2>

        <div class="section-outfits">
            <div>
                <div class="card">
                    <a href=""><img class="img-card-outfit" src="/img/1.jpg" alt=""></a>
                    <div class="description">
                        <p class="info-card">Hoodie Oversize Frisado + Regular Pants</p>
                        <p class="price-card">$10.600</p>
                    </div>
                </div>
            </div>
            <div>

                <div class="card">
                    <a href=""><img class="img-card-outfit" src="/img/2.jpg" alt=""></a>
                    <div class="description">
                        <p class="info-card">Hoodie Wide Cut Frisado + Remera Ribb Midi + Jogger Regular Frisado</p>
                        <p class="price-card">$10.600</p>
                        
                    </div>
                </div>
            </div>
            <div>

                <div class="card">
                    <a href=""><img class="img-card-outfit" src="/img/3.jpg" alt=""></a>
                    <div class="description">
                        <p class="info-card">Hoodie Wide Cut Frisado + Jogger Regular Frisado</p>
                        <p class="price-card">$10.600</p>
                        
                    </div>
                </div>
            </div>
            <div>

                <div class="card">
                    <a href=""><img class="img-card-outfit" src="/img/4.jpg" alt=""></a>
                    <div class="description">
                        <p class="info-card">Canguro Wide Cut Frisado + Jogger Regular Frisado</p>
                        <p class="price-card">$10.600</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <!-- FOOTER -->
   <%- include("../partials/footer") %>

</body>

</html>