<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-user-acuont">
      <h2 id="">Mi Cuenta</h2>

      <img class="img-acount" src="/img/homeFenix.png" alt="" />
      <div class="container-user-acount">
        <div class="info-user">
          <div class="label-container">
            <label class="label-user-acount">Primer Nombre: </label>
          </div>
          <div class="label-container">
            <label class="label-info-acount">Proyecto </label>
          </div>
        </div>
        <div class="info-user">
          <div class="label-container">
            <label class="label-user-acount">Segundo Nombre: </label>
          </div>
          <div class="label-container">
            <label class="label-info-acount">Fénix </label>
          </div>
        </div>

        <div class="info-user">
            <div class="label-container">
                <label class="label-user-acount" for="">Correo: </label>
            </div>
            <div class="label-container">
                <label class="label-info-acount">fenix@gmail.com </label>
            </div>
        </div>

        <div class="info-user">
            <div class="label-container">

                <label class="label-user-acount" for="">Direccion: </label>
            </div>
            <div class="label-container">

                <label class="label-info-acount">Fenix </label>
            </div>
        </div>

        <div class="info-user">
            <div class="label-container">

                <label class="label-user-acount" for="">Contraseña: </label>
            </div>
            <div class="label-container">

                <label class="label-info-acount" id="password-user">Fenix </label>
            </div>
        </div>

      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
