<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/addClothes.css">
<title>Nueva Vestimenta</title>

<body>
    <%- include('../partials/header') %>
    <main>
        <div id="titulo">
            <h1>Complete el formulario para publicar la nueva vestimenta</h1>
        </div>
        <div id="container-form">
            <form action="/nuevaVestimenta" method="post">
                <div class="container nombre-producto">
                    <label for="nombre">Nombre del producto</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <br>
                <div class="container precio-producto">
                    <label for="precio">Precio del producto</label>
                    <input type="number" name="precio" id="precio">
                </div>
                <br>
                <div class="container categoria-productos">
                    <label for="categoria">Elegir categoria</label>
                    <select name="categoria" id="categoria">
                        <option value="remera">Remera</option>
                        <option value="campera">Campera</option>
                        <option value="buzo">Buzo</option>
                        <option value="hoddie">hoddie</option>
                        <option value="canguro">canguro</option>
                        <option value="remera manga larga">Remera manga larga</option>
                        <option value="pantalon cargo"> Pantalon cargo</option>
                        <option value="pantalon">pantalon</option>
                    </select>
                </div>
                <br>
                <div class="container talles-producto">
                    <label for="talles">Talles</label>
                    <select name="talles" id="talles">
                        <option value="">XS</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                        <option value="">XXL</option>
                        <option value="">XXXL</option>
                    </select>
                </div>
                <br>
                <div class="container color-producto">
                    <label for="color">Colores</label>
                    <select name="color" id="color">
                        <option value="blanco">Blanco</option>
                        <option value="negro">Negro</option>
                        <option value="marron">Marron</option>
                        <option value="violeta">Violeta</option>
                        <option value="rosa">Rosa</option>
                        <option value="crema">Crema</option>
                    </select>
                </div>
                <br>
                <div class="container imagen-producto">
                    <label for="imagen">Seleccione imagenes del producto</label>
                    <input type="file" name="imagen" accept=".jpg" multiple>
                </div>
                <br>
                <div class="container publicar-producto">
                    <button id="button-publicar">Publicar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>