<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Marcas</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h1>Listado de marcas registradas</h1>
        <ul>
            <% for (let i = 0; i < brands.length; i++) { %>
            <li>
                <%=brands[i].name%>
            </li>
            <% } %>            
        </ul>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>