<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-buzos">
      <div class="container-category-buzos">
        <h2>Buzos</h2>
        <!-- Buzos -->
        <div class="img-section-buzos"><img src="/img/fondo2.png" alt="" /></div>
        <div class="section-category-buzos">
          <!-- **************************************** -->
          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo16.jpeg" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo16.jpeg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo4.png" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo4.png" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo17.jpeg" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo17.jpeg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img
                  src="/img/category/buzos/buzo6.jpg"
                  alt=""
                />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img
                    src="/img/category/buzos/buzo6.jpg"
                    alt=""
                  />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo7.png" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo7.png" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo18.jpeg" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo18.jpeg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo19.jpeg" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo19.jpeg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <!-- **************************************** -->

          <div class="flip-card-buzos">
            <div class="flip-card-inner-buzos">
              <div class="flip-card-front-buzos">
                <img src="/img/category/buzos/buzo20.jpeg" alt="" />
              </div>
              <div class="flip-card-back-buzos">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/buzos/buzo20.jpeg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          
         


        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
