<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main class="main-car">
                <div class="container-info">
                    <div class="container-four">
                        <img src="/img/remeron-negro-oversize.png" alt="">
                    </div>
                    <form action="" method="POST">
                        <table class="shop-table">
                            <div class="text-detail">
                                <p class="info-car"> Producto </p>
                                <p class="info-car-detail">Remeron Oversize Negra </p>
                            </div>
                            <div class="text-detail">
                                <p class="info-car">Precio </p>
                                <p class="info-car-detail"> $6000</p>
                            </div>
                            <div class="text-detail">
                                <p class="info-car">Cantidad  </p>
                                <p class="info-car-detail"> 1</p>
                            </div>
                            <div class="text-detail">
                                <p class="info-car">Subtotal  </p>
                                <p class="info-car-detail"> $6000</p>
                            </div>
                            <div class="text-detail">
                                <p class="info-car">Total  </p>
                                <p class="info-car-detail"> $6000</p>
                            </div>
                        </table>
                    </form>
                </div>
                </div>
                </div>
            </main>

            <%- include('../partials/footer') %>
    </body>

</html>