<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>
</head>
<body>
    <div>
        <form action="/nuevoCalzado" method="post">
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="nombre" id="nombre">
            <label for="precio">Precio del producto</label>
            <input type="number" name="precio" id="precio">
            <label for="imagen">Seleccionar imagenes del producto</label>
            <input type="file" name="imagen" accept=".jpg" multiple>
            <label for="color">Colores</label>
            <select name="color" id="color">
                <option value="#008000">Verde</option>
                <option value="#ffffff">Blanco</option>
                <option value="#000000">Negro</option>
                <option value="#6a209b">Violeta</option>
            </select>
            <label for="talles">Talles</label>
            <select name="talle" id="talle">
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
            </select>
        </form>        
    </div>

</body>
</html>