<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/editProduct.css">
    <title>Edición de producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div id="title-edit">
            <h1>¡Edite el contenido a gusto!</h1>
        </div>
        <div id="form-edit">
            <form action="/" method="POST">
                <div class="container-product-name">
                    <input type="text" name="name-producto" id="nombre">
                    <label for="name-producto">Nombre del producto</label>
                </div>
                <div class="container-product-price">
                    <input type="number" name="precio" id="precio">
                    <label for="precio">Precio del producto</label>
                </div>
                <div class="container-product-sizes">
                    <label for="talles">Talles</label>
                    <select name="talles">
                        <option value="35">35</option>
                        <option value="36">36</option>
                        <option value="37">37</option>
                        <option value="38">38</option>
                        <option value="39">39</option>
                        <option value="40">40</option>
                        <option value="41">41</option>
                        <option value="42">42</option>
                        <option value="43">43</option>
                        <option value="44">44</option>
                        <option value="45">45</option>
                    </select>
                </div>
                <div class="container-product-color">
                    <label for="color">Colores</label>
                    <select name="color" id="color">
                        <option value="blanco">Blanco</option>
                        <option value="negro">Negro</option>
                        <option value="marron">Marron</option>
                        <option value="violeta">Violeta</option>
                        <option value="rosa">Rosa</option>
                        <option value="crema">Crema</option>
                    </select>
                </div>
                <div id="container-product-image">
                    <label for="imagen">Seleccione imagenes del producto</label>
                    <input type="file" name="imagen" accept=".jpg" multiple>
                </div>
                <div id="container-button-edit">
                    <button id="button-edit">Publicar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>