<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category">
        <h2>hoodies</h2>
        <!-- HOODIES -->
        <div class="img-section-categorys"><img src="/img/fondo1.jpg" alt="" /></div>
        <div class="section-hoodies-categorys">
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/azul-cielo.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/azul-cielo.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/cielo2.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/cielo2.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/gris2.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/gris2.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img
                  src="/img/category/hoodies/HOODIE-BLEND-scaled.jpg"
                  alt=""
                />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img
                    src="/img/category/hoodies/HOODIE-BLEND-scaled.jpg"
                    alt=""
                  />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/beige.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/beige.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/militar2.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/militar2.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/morado.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/morado.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/morado-oscuro.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/morado-oscuro.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/beige2.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/beige2.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/blanca-chino.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/blanca-chino.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/blanco.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/blanco.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/blanco3.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/blanco3.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/blanco4.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/blanco4.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/cafe-oscura.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/cafe-oscura.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/cafe.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/cafe.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-categorys">
            <div class="flip-card-inner-categorys">
              <div class="flip-card-front-categorys">
                <img src="/img/category/hoodies/chino2.jpg" alt="" />
              </div>
              <div class="flip-card-back-categorys">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/hoodies/chino2.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->

        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
