<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/header") %>

    <section class="section-categorys">
      <div class="container-category-pantalones">
        <!-- GRID VARIOS PANTALONES -->
        <div class="container-pants">
         
          <div class="pants">
            <img src="/img/category/pantalones/pantalon3.png" alt="">
            <div>
              <p>Cargo</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon17.png" alt="">
            <div>
              <p>Joggers</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon18.png" alt="">
            <div>
              <p>Lino</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon19.png" alt="">
            <div>
              <p>Chinos</p>
            </div>
          </div>
          <div class="pants">
            <img src="/img/category/pantalones/pantalon20.png" alt="">
            <div>
              <p>Chándal</p>
            </div>
          </div>
        </div>
        <hr>
        
         <!-- END GRID VARIOS PANTALONES -->
        <h2>Pantalones</h2>
        <!-- PANTALONES -->
        <div class="img-section-pantalones"><img src="/img/pantalonh2.jpg" alt="" /></div>
        <div class="section-category-pantalones">
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon01.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon01.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon02.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon02.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon03.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon03.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img
                  src="/img/category/pantalones/pantalon04.jpg"
                  alt=""
                />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img
                    src="/img/category/pantalones/pantalon04.jpg"
                    alt=""
                  />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon05.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon05.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon06.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon06.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->

          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon07.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon07.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon08.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon08.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon09.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon09.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon010.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon010.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon011.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon011.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          <!-- **************************************** -->
          <div class="flip-card-pantalones">
            <div class="flip-card-inner-pantalones">
              <div class="flip-card-front-pantalones">
                <img src="/img/category/pantalones/pantalon012.jpg" alt="" />
              </div>
              <div class="flip-card-back-pantalones">
                <a href="">
                  <h1>Lorem ipsum dolor</h1>
                  <img src="/img/category/pantalones/pantalon012.jpg" alt="" />
                  <h3>$ 6.000</h3>
                  <h3>30% Off</h3>
                </a>
              </div>
            </div>
          </div>
            <!-- **************************************** -->
          

        </div>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
