<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
           

            <section class="section-oversize">
                <div class="container-categorias">
                    <h2>Productos</h2>
                    <!-- OVERSIZE -->
                    <div class="img-section-oversize"> <img src="/img/oversize/section-oversize1.jpg" alt=""></div>
                    <div class="section-categorias">

                        <!-- **************************************** -->
                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize1-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize1-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize2-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize2-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize3-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize3-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize4-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize4-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->

                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize5-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize5-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->

                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize6-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize6-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->

                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize7-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize7-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->

                        <div class="flip-card-oversize">
                            <div class="flip-card-inner-oversize">
                                <div class="flip-card-front-oversize">

                                    <img src="/img/oversize/oversize9-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back-oversize">
                                    <a href="">
                                        <h1>title</h1>
                                        <img src="/img/oversize/oversize9-sf.png" alt="" />
                                        <h3>$ 6.000</h3>
                                        <h3>30% Off</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- **************************************** -->
                    <!-- OVERSIZE -->
                    <!-- **************************************** -->
            </section>

            <!-- SNEAKERS -->
            <section class="section-sneakers">

                <div class="container-categorias">
                    <div class="section-categorias">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker2-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker2-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker4-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker4-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker8.2-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker8.2-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker9-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker9-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker16-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker16-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker11-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker11-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker12-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker12-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">

                                    <img src="/img/sneakers/sneaker14-sf.png" alt="" />
                                </div>
                                <div class="flip-card-back">
                                    <a href="">
                                        <h3>title</h3>
                                        <img src="/img/sneakers/sneaker14-sf.png" alt="" />
                                        <h1>$ 6.000</h1>
                                        <h1>10% Off</h1>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- **************************************** -->
                    </div>
                </div>
                </div>
                </div>
            </section>
            <%- include("../partials/footer") %>
    </body>

</html>