<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/selectCategory.css">
<title>Elegir categoria</title>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="container-titulo">
            <div class="titulo">
                <h2>Para crear un nuevo producto primero eliga su categoria</h2>
            </div>
        </div>
        <div class="botones">
            <a href="/addsneakers"><button class="calzado" >Calzado</button></a>
            <a href="/addclothes"><button class="Vestimenta">Vestimenta</button></a>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>