<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
<title>Elegir categoria</title>

<body>
    <%- include('../partials/header') %>

    <main>
        <div class="titulo">
            <h2>Para crear un nuevo producto primero eliga su categoria</h2>
        </div>
        <div class="botones">
            <a href="/newproductc"><button class="calzado" >Calzado</button></a>
            <a href="/newproductv"><button class="Vestimenta">Vestimenta</button></a>
        </div>
    </main>
</body>
</html>